{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.9"/>
{% endset %}
{%- set PULP0_REPO -%}
  {%- if ARCH == "x86_64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/os
  {%- endif -%}
  {%- if ARCH == "s390x" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/os
  {%- endif -%}
  {%- if ARCH == "ppc64le" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/os
  {%- endif -%}
  {%- if ARCH == "ppc64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/os
  {%- endif -%}
{%- endset -%}
{%- set PULP1_REPO -%}
  {%- if ARCH == "x86_64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/optional/os
  {%- endif -%}
  {%- if ARCH == "s390x" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/optional/os
  {%- endif -%}
  {%- if ARCH == "ppc64le" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/optional/os
  {%- endif -%}
  {%- if ARCH == "ppc64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/optional/os
  {%- endif -%}
{%- endset -%}
{%- set PULP2_REPO -%}
  {%- if ARCH == "x86_64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/debug
  {%- endif -%}
  {%- if ARCH == "s390x" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/system-z/7/7Server/s390x/debug
  {%- endif -%}
  {%- if ARCH == "ppc64le" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power-le/7/7Server/ppc64le/debug
  {%- endif -%}
  {%- if ARCH == "ppc64" -%}
https://rhsm-pulp.corp.redhat.com/content/dist/rhel/power/7/7Server/ppc64/debug
  {%- endif -%}
{%- endset -%}
{% set ks_append | dedent %}
  <ks_append><![CDATA[
  %post
  # Enable Buildroot for test dependencies
  cat >/etc/yum.repos.d/pulp0.repo <<EOF
  [pulp0]
  name=pulp0
  baseurl={{ PULP0_REPO }}
  enabled=1
  gpgcheck=0
  skip_if_unavailable=1
  EOF
  cat >/etc/yum.repos.d/pulp1.repo <<EOF
  [pulp1]
  name=pulp1
  baseurl={{ PULP1_REPO }}
  enabled=1
  gpgcheck=0
  skip_if_unavailable=1
  EOF
  cat >/etc/yum.repos.d/pulp2.repo <<EOF
  [pulp2]
  name=pulp2
  baseurl={{ PULP2_REPO }}
  enabled=1
  gpgcheck=0
  skip_if_unavailable=1
  EOF
  %end
  ]]></ks_append>
{% endset %}
