<or>
  <hostname op="=" value="wsfd-advnetlab149.lab3.eng.bos.redhat.com"/>
  <hostname op="=" value="wsfd-advnetlab150.lab3.eng.bos.redhat.com"/>
  {# disabled due to: https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/1478
  <hostname op="=" value="netqe35.knqe.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="netqe36.knqe.lab.eng.bos.redhat.com"/>
  #}
</or>
